# IDE files.
/**/.idea/
/**/.vscode/
/**/.cursor/
/**/.vs/

# Libraries.
/node_modules/

# Distribution & Next.js files.
/dist/
/build/
/.next/
/out/
/**/*.tsbuildinfo
/next-env.d.ts

# Environment variables.
/**/*.env*
!/.env.example

# Operating system files.
/**/.DS_Store
